/* General Styling */
body {
  font-family: 'Playfair Display', serif;
  background-color: #fde4e1;
  /* Soft pastel pink background */
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: linear-gradient(120deg, #c66091, #686379);

  background-repeat: no-repeat;
  /* Apply marble texture */

}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #b08d57;
  /* Shiny gold color */
  font-size: 23px;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li a:hover {
  color: #e4bf72;
  /* Lighter gold for hover effect */
  text-shadow: 0px 0px 5px #fff4e0;
}

.logo {
  height: 100%;
  max-height: 170px;
  /* Optional: set a max height to avoid it becoming too large */
  width: auto;
}

/* Section Styling */
section {
  text-align: center;
  padding: 60px 20px;
  background-color: #fde4e1;
  color: #333;
}

section h1 {
  font-size: 42px;
  margin-bottom: 40px;
  color: #b08d57;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.intro p {
  font-size: 24px;
  color: #555;
}

/* Treatments Section */
.treatment,
.product {
  margin: 40px 0;
}

.treatment h2,
.product h2 {
  font-size: 32px;
  color: #b08d57;
  margin-bottom: 20px;
}

.treatment p,
.product p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 40px auto;
  color: #666;
}

/* Gallery Styling */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* Footer Styling */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(120deg, #f385bc, #a6a4a4);
  background-image: url('path_to_marble_texture.png');
  /* Apply marble texture */
  background-size: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #b08d57;
  /* Gold border */
  color: #b08d57;
  /* Match text color in header and footer */
}

footer a {
  color: #b08d57;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 10px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    margin-top: 20px;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 576px) {
  section h1 {
    font-size: 36px;
  }

  .treatment h2,
  .product h2 {
    font-size: 28px;
  }

  .treatment p,
  .product p {
    font-size: 16px;
  }
}